<%- include('header'); %>


<div class="row">
    <div class="col-12 col-sm-6">
        <img id="fish-detail-img" src="images/black-square.png" alt="">
    </div>
    <div class="col-12 col-sm-6 text-center">
        <ul>
            <li>attribute 1</li>
            <li>attribute 2</li>
            <li>attribute 3</li>
            <li>attribute 4</li>
            <li>attribute 5</li>
            <li>attribute 6</li>
            <li>attribute 7</li>
        </ul>
    </div>
</div>


<%- include('footer'); %>