
    </div>
    
    <footer>
        <div class="footer-text">Freshwater Fish-Dex by Kai Thomas</div>
        <div class="footer-icons">
            <a href="https://www.linkedin.com/in/kai-thomas-ab37671a8/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://kai.engineer/"><i class="fa-solid fa-globe"></i></a>
            <a href="https://github.com/kaiThomas236"><i class="fa-brands fa-square-github"></i></a>
        </div>
        
        
    </footer>
</div>
</body>

</html>